<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.UserweightMapper">
  <resultMap id="BaseResultMap" type="com.test.pojo.Userweight">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
  </resultMap>
  <insert id="insert" parameterType="com.test.pojo.Userweight">
    insert into userweight (id, date, weight
      )
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, #{weight,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.test.pojo.Userweight">
    insert into userweight
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="weight != null">
        weight,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
</mapper>